Source: nfblock
Section: net
Priority: optional
Maintainer: Jindřich Makovička <makovick@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-systemd (>= 1.5), zlib1g-dev, libnetfilter-queue-dev, libnfnetlink-dev, libdbus-1-dev
Standards-Version: 3.9.4
Homepage: https://github.com/jmakovicka/nfblock
Vcs-Git: https://github.com/jmakovicka/nfblock.git
Vcs-Browser: https://github.com/jmakovicka/nfblock

Package: nfblock
Architecture: any
Depends: wget, unzip, ${shlibs:Depends}, ${misc:Depends}
Description: Netfilter blocklist daemon
  Filters the incoming or outgoing packets based on block list files.
  Can use IPFilter or PeerGuardian block lists.
