[Unit]
Description=netfilter blocking daemon

[Service]
Type=forking
ExecStart=/usr/sbin/nfblockd -d -p /var/run/nfblockd.pid -- /var/lib/nfblock
PIDFile=/var/run/nfblockd.pid

[Install]
WantedBy=multi-user.target
