[Unit]
Description=netfilter blocking daemon

[Service]
Type=simple
ExecStart=/usr/sbin/nfblockd -- /var/lib/nfblock

[Install]
WantedBy=multi-user.target
